body,
h1,
h2,
h3,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
aside {
  background: purple;
  width: 100px;
  padding: 15px;
  height: 100vh;
  position: fixed;
  top: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
}
li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo {
  margin-top: 40px;
  width: 100%;
}

li a {
  text-decoration: none;
  color: rgb(32, 1, 1);
}
img {
  max-width: 100%;
  display: block;
}
main {
  margin-left: 145px;
  display: grid;
  gap: 10px;
  margin-top: 20px;
}
.anuncio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: lightgray;
  border: 2px solid white;
  transition: ease-in 200ms;
  position: relative;
  border-radius: 10px;
}
.promocao {
  background: yellowgreen;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  left: 10px;
}
.anuncio:hover {
  transition: ease-out 200ms;
  transform: scale(1.01);
  border: 2px solid purple;
}
.descricao {
  padding: 7px;
}
.descricao p {
  margin-bottom: 10px;
  margin-top: 5px;
}
.preco {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.valor {
  grid-column: 2;
  grid-row: 2;
}
.local {
  grid-row: 1/3;
}
